@font-face {
    font-family: Bahnschrift;
    src: url("../dist/fonts/BAHNSCHRIFT.ttf")/* EOT file for IE */
}

@font-face {
    font-family: Engraver;
    src: url("../dist/fonts/ENGR.ttf")/* TTF file for CSS3 browsers */
}
.img-fluid {
    padding-top:1rem;
    padding-bottom:1rem;
}
.carousel-item >img {
    object-fit: scale-down;
    height: auto;
    margin-left: auto;
    height: 65vh;
    border-radius: 0px;
}
.tight-list li {
    padding-top:0;
    padding-bottom:0;
}
.body {
    counter-reset: figures;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: var(--light)!important;
    background: var(--dark);
    background: linear-gradient(to right, var(--dark) 0%, var(--accent-bg) 90%, var(--accent-bg) 100%);
    font-size: 1.25em;
}

.body p {
    font-size: 1.2em;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--accent);
    border-radius: 5px;
    transform: scaleX(1);
    transition: .25s linear;
}

.quote {}

a.light-link {
    color: var(--accent);
}

p {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Bahnschrift', 'Crimson Text', serif;
    font-size: 200%;
}

li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

:root {
    --dark: #222;
    --grey: #9f9a9a;
    --light: #f5efed;
    --accent: #9880aa;
    --darker-accent: #685379;
    --text-dark: #3d3d3d;
    --text-light: #f5efed;
    --accent-bg: #29222e;
}

.vr {
    width: 2px;
    background-color: var(--accent)!important;
}

.accentuate {
    color: var(--accent)!important;
}


/* NAVBAR */

.navbar {
    font-family: 'Montserrat', 'Bahnschrift';
    border-bottom: 1px solid gray;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    font-weight: 300;
    background-color: white!important;
}

.even-space {
    justify-content: space-around;
    width: 100%;
}

.navbar-toggler {
    border: none;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}
.navbar-brand {
    z-index:1000;
}
@media (max-width: 1500px) {
    .navbar {
        margin-bottom: 0em;
    }
}

@media (max-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-collapse {
        padding-top: 50px;
    }
    .navbar-nav {
        align-items: center;
        float: none !important;
    }
}

.dropdown-toggle::after {
    margin-left: 0 !important;
    display: none;
}

.logo-circle {
    top: 0;
    left: -3px;
    position: absolute;
    background: white;
    align-content: center;
    padding: 10px 10px 10px 10px;
    width: 100px;
    height: 100px;
    border-radius: 70px;
}

.logo-circle .brand {
    padding-left: 2px;
}

.brand-text-logo {
    margin-left: 75px;
    font-family: Engraver;
    color: var(--text-dark)!important;
    transition: all ease-in-out 0.2s;
    z-index: 1000;
}

@media (max-width: 575.98px) {
    .brand-text-logo {
        margin-left: 0;
        text-align: center;
        transition: all ease-in-out 0.2s;
    }
}

.brand-text-logo:hover {
    opacity: 0.55;
}

.nav-item .dropdown-menu {
    padding: 0 0 !important;
    border: 1px solid white;
    border-radius: 0;
    font-size: 0.75em;
}

.nav-item .dropdown-menu .dropdown-item {
    padding: 0.8em 1.6em;
}

.nav-item.active>.nav-link {
    color: var(--text-dark)!important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--light)!important;
    background-color: var(--dark)!important;
}


/* NAVBAR END */


/*scrollspy*/

.scrollspy {
    left: 1em;
    padding: 1em 0.2em;
    position: fixed;
}

.scrollspy-item {
    background: transparent !important;
    border: none;
    color: var(--text-light)!important;
}

.scrollspy-item.active {
    border-left: 3px solid var(--accent);
    font-weight: bold;
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .body .container-md {
        max-width: 960px;
        padding-left: 3em;
    }
    .body .container-sm {
        max-width: 960px;
        padding-left: 3em;
    }
}


/*scrollspy end*/


/* CUSTOM NODE STYLING*/
.moclo-jumbo {
    max-width:1500px;
}
.heading-hero {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-heading {
    font-weight: 900;
}
.clear-it {
    min-height:20vh;
}
.color-flip {
    background: linear-gradient( var(--accent) 0%, var(--text-light) 50%) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent!important;
    background-clip: text;
    text-fill-color: transparent!important;
}

.moclomania {
    font-family: Engraver;
}

.moclo-image {
    display: inline-block;
    height: 15vw;
    width: 15vw;
}

.moclo-heading {
    vertical-align: middle;
    text-align: left;;
}


/* CUSTOM NODE STYLING END*/

.video {
width:100%;
height:100%;
object-fit:contain;
}
.emph {
    color: var(--accent);
    font-weight:bold;
    overflow:hidden;
}
.blocked {
    color:var(--text-light);
    background-color:var(--accent);
    padding-right:0.75rem;
    padding-left:0.75rem;
}
.home-block {
    margin-bottom:
}
.promotion-video {
    overflow:hidden; 
}

.outlined {
    border: 3px var(--light) solid;
    border-radius: 5px;
}

.text-heading {
    padding-left: 1rem;
    border-left: 3px solid var(--accent);
}

.interesting-box {
    border: 4px solid var(--accent);
    border-radius: 0px;
}

.social-link {
    color: inherit!important;
    text-decoration: inherit;
    transition: color 0.3s ease-in-out;
}

.social-link:hover {
    color: var(--accent)!important;
}
/*footer stuff*/

footer {
    padding-bottom: 5rem;
    padding-top: 3rem;
}
.footer-sponsors {
    width:100%;
}
.sponsor {
    padding: 1rem 1rem;
    margin:1rem 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background:white;
    border-radius: 7px;
    height:100px;
    width:100px;
}

.sponsor img {
    border-radius: 7px;
    filter: grayscale(1);
    transition: 0.5s all ease;
    width: 75px;
}

.sponsor img:hover {
    filter: grayscale(0);
}

#go-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: var(--accent)!important;
    color: var(--text-light)!important;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    transition: all 0.3 ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    opacity: 0;
    z-index: 99;
}

#go.up i {
    z-index: 100;
}

#go-up:hover {
    transform: scale(1.2);
    background-color: var(--text-light)!important;
    color: var(--accent)!important;
}

.gradient-down::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 66%, var(--dark) 100%);
}

.card-header {
    background: linear-gradient(90deg, var(--darker-accent) 0%, var(--darker-accent) 1%, transparent 50%, transparent 100%);
    border-radius: 0 !important;
    border-bottom: 0px solid var(--accent);
    font-weight:bold;
}

.card {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none!important;
}

.member-image img {
    border-radius: 10px;
    border: 3px solid var(--accent);
}

.member-info .row .col-6:first-child {
    text-align: right;
    font-weight: bold;
}

.member-info .row .col-6:nth-child(2) {
    text-align: justify;
    border-left: 2px solid var(--accent);
}

.member-info {
    width: 100%;
    padding: 1rem;
}

.member-name {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    ;
}

.source-list li a {
    font-style: italic!important;
    font-weight: 200;
    color: var(--text-light)!important;
    text-decoration: none;
}

.source-list li {
    font-weight: bold;
}

.source-list {
    counter-reset: list;
}

.source-list>li {
    list-style: none;
}

.source-list>li a:hover {
    color: var(--accent)!important;
    transition: 0.3s ease all;
    cursor: pointer;
}

.source-list>li:before {
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    content: "[" counter(list) "]";
    counter-increment: list;
}

.source-anchor {
    vertical-align: super;
    font-size: 0.8em;
    font-weight: lighter!important;
    color: var(--accent)!important;
}

.figure {
    counter-increment: figures;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.figure-t {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fig-image {
    width: 100%;
    text-align:center;
}
.fig-image img {
    width:100%;
}

.fig-caption {
    font-style: italic;
}

.fig-caption::before {
    content: "Fig." counter(figures) ":";
    font-style: normal;
}

.notebook-table td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent)!important;
}

.notebook-table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent)!important;
    font-weight: bold;
    font-size: 1.25em;
}

.notebook-table tr:first-child {
    background: linear-gradient(to right, var(--dark), var(--accent))!important
}

.notebook-table tr {
    transition: 0.3s all ease;
}

.notebook-table tr:hover {
    background: linear-gradient(to right, var(--dark), var(--accent))!important;
}

.notebook-table tr td:first-child {
    font-weight: bold;
}

.important-warning {
    padding: 1rem;
    background: linear-gradient(to right, var(--dark), var(--accent))!important;
    border-left: 5px solid var(--accent);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.sponsor-card {
    padding: 1rem;
}

.sponsor-card:nth-of-type(even) {
    flex-direction: row-reverse;
}

.sponsor-image img {
    transition: 0.3s all ease;
    width: 250px;
    border-radius: 25px;
}
.sponsor-image {
    display:flex;
    justify-content: center;
    align-items: center;
}

.sponsor-info {
    padding-right: 2em;
    padding-left: 2em;
}

.sponsor-name {
    z-index: 100;
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(to right, var(--dark), var(--accent))!important;
    padding: 0.5rem;
    padding-left: 1rem;
    overflow: hidden;
    position: relative;
}

.sponsor-name a {
    color: var(--text-light)!important;
    text-decoration: none!important;
}

.sponsor-name::after {
    z-index: -10;
    background-color: var(--accent);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translate(100%, 0%);
    transition: 0.3s all ease;
}

.sponsor-card:hover .sponsor-name::after {
    transform: translate(0%, 0%);
}

.sponsor-card:hover .sponsor-image img {
}
section {
    padding:5rem;
    padding-left:10rem;
    padding-right:10rem;
    pointer-events:none;
}
section p{
    text-align: center;
}
p.big-para {
    font-size: 1.7em;
}
.home-container h1 {
    font-size:4em;
    margin-bottom: 2rem;;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0 !important; 
    top:0;
    left:0;
}
.home-container .emph {
    text-shadow: 0px 0px 8px var(--darker-accent);
    transition: 0.3s ease all;
}
.home-container .emph:hover {
    text-shadow: 0px 0px 16px var(--darker-accent);
}
table {
    width:100%;
}
/* home */


#masterWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #panelWrap {
    height: 100%;
    cursor: default;
    pointer-events: none;
  }
  
  section {
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
    float: left;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    background-color: #fff;
    margin: 12px 8px;
    cursor: pointer;
  
    float: left;
  }
  
  .dots {
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 16px;
  }
  
  #leftArrow {
      left:2em;
      opacity:0;
  }
  
  #rightArrow {
      right:2em;
  
  }
  
  .arrow {
    position: absolute;
    z-index: 100!important;
    bottom:2em;
    cursor: pointer;
    opacity: 0.75;
    width: 50px;
    height: 50px;
    stroke-width: 8px;
    stroke: white;
    fill: transparent;
    transition: 0.3s ease all;
    transform: scale(1);
  }
  .arrow:hover {
    transform: scale(1.1);
  }
  
  
  .titleWrap {
    height: 30px;
    position: absolute;
    z-index: 20;
    bottom: 50px;
    left: 50%;
    overflow-y: hidden;
  }
  
  .title {
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  .hideMe {
    opacity: 0;
    margin-top:-6vh;
  }
  .iconWrap {
    width: 300px;
    margin-top: 30px;
  }
  
  @media (min-width: 700px) {
    .iconWrap {
      width: 600px;
    }
  }
  .icon {
    text-align: center;
    width: 150px;
    float: left;
  }
  
  .icon svg {
    width: 50px;
    height: 50px;
    margin: 6px 0;
    overflow: visible;
  }
  
  @media (max-width: 480px) {
    section img {
      max-width: 200px;
    }
    p {
      max-width: 180px;
    }
  }
.right-bound {
    min-width:35vw;
    width:35vw;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:1rem;
    padding-top:1rem;
}
.name-thingy {
    background: linear-gradient(to left, transparent, var(--accent))!important;
    padding: 0.5rem;
padding-left:1rem;
}
footer .container-md {
    padding-left:1rem!important;
    padding-right:1rem!important;
}